In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [21]:
# Handler to get access to the spark dataframe
spark_session = SparkSession.builder.getOrCreate()

# Logger configuration
logger = spark_session._jvm.org.apache.log4j
logger.LogManager.getLogger("org").setLevel(logger.Level.WARN)

fields = [StructField("id_empleado", IntegerType(), True),
            StructField("nombre", StringType(), True),
            StructField("apellido", StringType(), True),
            StructField("edad", IntegerType(), True),
            StructField("departamento", StringType(), True),
            StructField("puesto", StringType(), True),
            StructField("salario", DoubleType(), True),
            StructField("fecha_contratacion", DateType(), True),
            StructField("ciudad", StringType(), True),
            StructField("activo", BooleanType(), True)]

schema = StructType(fields)

data_frame = spark_session.read \
    .format("csv") \
    .schema(schema) \
    .load("data/empleados.csv")

In [20]:
# Ejercicio 2. Inspección de datos
data_frame.printSchema()
data_frame.show(10)
data_frame.describe().show()

root
 |-- id_empleado: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- apellido: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- departamento: string (nullable = true)
 |-- puesto: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- fecha_contratacion: date (nullable = true)
 |-- ciudad: string (nullable = true)
 |-- activo: boolean (nullable = true)

+-----------+----------+----------+----+------------+-------------+--------+------------------+---------+------+
|id_empleado|    nombre|  apellido|edad|departamento|       puesto| salario|fecha_contratacion|   ciudad|activo|
+-----------+----------+----------+----+------------+-------------+--------+------------------+---------+------+
|       NULL|    nombre|  apellido|NULL|departamento|       puesto|    NULL|              NULL|   ciudad|  NULL|
|       1001|Empleado_1|Apellido_1|  50|        RRHH|     Contador|71659.75|        2018-01-01| Valencia|  true|
|       1002|Empleado_2|Apellido_2|  36|          IT|Desarrollador|38668.23|        2018-06-30|   Madrid|  true|
|       1003|Empleado_3|Apellido_3|  29| Operaciones|     Contador|49553.03|        2018-12-27|  Sevilla|  true|
|       1004|Empleado_4|Apellido_4|  42|    Finanzas|     Analista| 39111.8|        2019-06-25|Barcelona|  true|
|       1005|Empleado_5|Apellido_5|  40|        RRHH|      Gerente|67768.07|        2019-12-22|   Madrid|  true|
|       1006|Empleado_6|Apellido_6|  44|      Ventas|    Diseñador|51257.79|        2020-06-19|  Sevilla|  true|
|       1007|Empleado_7|Apellido_7|  32|      Ventas|     Analista|40397.08|        2020-12-16|  Sevilla| false|
|       1008|Empleado_8|Apellido_8|  32|   Marketing|    Diseñador|58385.02|        2021-06-14|  Sevilla|  true|
|       1009|Empleado_9|Apellido_9|  45|   Marketing|    Asistente|31565.66|        2021-12-11|   Madrid| false|
+-----------+----------+----------+----+------------+-------------+--------+------------------+---------+------+
only showing top 10 rows
+-------+-----------------+----------+----------+----------------+------------+--------+------------------+---------+
|summary|      id_empleado|    nombre|  apellido|            edad|departamento|  puesto|           salario|   ciudad|
+-------+-----------------+----------+----------+----------------+------------+--------+------------------+---------+
|  count|               20|        21|        21|              20|          21|      21|                20|       21|
|   mean|           1010.5|      NULL|      NULL|            40.8|        NULL|    NULL|         57198.234|     NULL|
| stddev|5.916079783099616|      NULL|      NULL|10.9091945768599|        NULL|    NULL|13882.285191073892|     NULL|
|    min|             1001|Empleado_1|Apellido_1|              23|    Finanzas|Analista|          31565.66|Barcelona|
|    max|             1020|    nombre|  apellido|              59|departamento|  puesto|           78058.6|   ciudad|
+-------+-----------------+----------+----------+----------------+------------+--------+------------------+---------+

In [11]:
# EJERCICIO 3: SELECCIÓN Y PROYECCIÓN

data_frame.select("nombre", "apellido", "departamento").show(n=10)

+----------+----------+------------+
|    nombre|  apellido|departamento|
+----------+----------+------------+
|    nombre|  apellido|departamento|
|Empleado_1|Apellido_1|        RRHH|
|Empleado_2|Apellido_2|          IT|
|Empleado_3|Apellido_3| Operaciones|
|Empleado_4|Apellido_4|    Finanzas|
|Empleado_5|Apellido_5|        RRHH|
|Empleado_6|Apellido_6|      Ventas|
|Empleado_7|Apellido_7|      Ventas|
|Empleado_8|Apellido_8|   Marketing|
|Empleado_9|Apellido_9|   Marketing|
+----------+----------+------------+
only showing top 10 rows